.primary {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary .main {
  display: flex;
  font-family: 'Cinzel Decorative', cursive;
  font-family: sans-serif;
  margin: 0 -20px;
}
.primary .main > * {
  margin: 0 20px;
}
.primary .main .profile {
  width: 414px;
  height: 896px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}
.primary .main .profile .menu {
  display: flex;
  justify-content: space-between;
  margin: 56px 24px 40px 24px;
}
.primary .main .profile .menu .icon {
  width: 24px;
  height: 24px;
}
.primary .main .profile .menu .menu_title {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #4E4B6F;
}
.primary .main .profile .profile_tab {
  margin: 0 24px 40px 24px;
  background: url("images/john_wick_chapter_three_ver2.png") center no-repeat;
  background-size: cover;
  width: 366px;
  height: 622px;
  border-radius: 24px;
  position: relative;
}
.primary .main .profile .profile_tab .descr {
  position: absolute;
  bottom: 32px;
  right: 0;
  left: 24px;
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 20px 0 0 20px;
  padding: 24px;
}
.primary .main .profile .profile_tab .descr .name {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #16123D;
  padding-bottom: 8px;
}
.primary .main .profile .profile_tab .descr .prof {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 16px;
  line-height: 19px;
  color: #4E4B6F;
}
.primary .main .profile .descr {
  position: absolute;
  bottom: 32px;
  right: 0;
  left: 24px;
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 20px 0 0 20px;
  padding: 24px;
}
.primary .main .profile .descr .name {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #16123D;
  padding-bottom: 8px;
}
.primary .main .profile .descr .prof {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 16px;
  line-height: 19px;
  color: #4E4B6F;
}
.primary .main .profileMain {
  width: 414px;
  height: 896px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}
.primary .main .profileMain .profileMainBody::-webkit-scrollbar {
  display: none;
}
.primary .main .profileMain .profileMainBody {
  overflow-y: scroll;
}
.primary .main .profileMain .profileMainBody .buttonNav {
  position: absolute;
  margin: 0 24px 0 24px;
  width: 366px;
  top: 56px;
  display: flex;
  justify-content: space-between;
}
.primary .main .profileMain .profileMainBody .buttonNav .arrow {
  margin-left: 5px;
  z-index: 10;
}
.primary .main .profileMain .profileMainBody .buttonNav .tripleDot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  z-index: 10;
}
.primary .main .profileMain .profileMainBody .photos::-webkit-scrollbar {
  display: none;
}
.primary .main .profileMain .profileMainBody .photos {
  position: relative;
  width: 390px;
  height: 412px;
  display: flex;
  margin-left: 24px;
  border-radius: 0 0 0 24px;
  overflow-x: scroll;
}
.primary .main .profileMain .profileMainBody .photos .primarySidebar {
  position: absolute;
  top: 382px;
  left: 266px;
  width: 100px;
  height: 6px;
  background-color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.primary .main .profileMain .profileMainBody .photos .primarySidebar .secondarySidebar {
  margin-left: 20px;
  width: 20px;
  height: 6px;
  opacity: 0.7;
  background-color: white;
  border-radius: 50px;
}
.primary .main .profileMain .profileMainBody .info {
  margin: 24px 0 0 24px;
}
.primary .main .profileMain .profileMainBody .info .title {
  display: flex;
  justify-content: space-between;
  width: 257px;
  padding-right: 16px;
}
.primary .main .profileMain .profileMainBody .info .title .name {
  font-family: 'Cinzel Decorative', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #16123D;
}
.primary .main .profileMain .profileMainBody .info .title .status {
  align-self: center;
}
.primary .main .profileMain .profileMainBody .info .prof {
  font-family: 'Cinzel Decorative', cursive;
  padding-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4E4B6F;
}
.primary .main .profileMain .profileMainBody .info .distance {
  font-family: 'Cinzel Decorative', cursive;
  padding-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4E4B6F;
}
.primary .main .profileMain .profileMainBody .aboutInfo {
  margin: 36px 24px 0 24px;
}
.primary .main .profileMain .profileMainBody .aboutInfo .title {
  font-family: 'Cinzel Decorative', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4B6F;
}
.primary .main .profileMain .profileMainBody .aboutInfo .greetings {
  font-family: 'Dancing Script', cursive;
  padding-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
  color: #4E4B6F;
}
.primary .main .profileMain .profileMainBody .interests {
  margin: 36px 24px 0 24px;
}
.primary .main .profileMain .profileMainBody .interests .title {
  font-family: 'Cinzel Decorative', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4B6F;
}
.primary .main .profileMain .profileMainBody .interests .tags {
  padding-top: 14px;
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.primary .main .profileMain .profileMainBody .interests .tags > * {
  margin: 6px;
}
.primary .main .profileMain .profileMainBody .interests .tags .tag1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFE9E6;
  color: #FF6F59;
}
.primary .main .profileMain .profileMainBody .interests .tags .tag2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFE9E6;
  color: #33C0FF;
}
.primary .main .profileMain .profileMainBody .interests .tags .tag3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFE9E6;
  color: #FF9933;
}
.primary .main .profileMain .profileMainBody .interests .tags .tag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFE5EE;
  color: #5985FF;
}
.primary .main .profileMain .profileMainBody .interests .tags .tag5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFE5EE;
  color: #9933FF;
}
.primary .main .profileMain .profileMainBody .interests .tags .tag6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFE5EE;
  color: #12B3B3;
}
.primary .main .profileMain .profileMainBody .interests .tags .tag7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFE5EE;
  color: #FF3377;
}
.primary .main .profileMain .profileMainBody .instagramPhoto {
  margin: 36px 24px 0 24px;
}
.primary .main .profileMain .profileMainBody .instagramPhoto .title {
  font-family: 'Cinzel Decorative', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4B6F;
}
.primary .main .profileMain .profileMainBody .instagramPhoto .intPhotos {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  width: 366px;
}
.buttons {
  position: absolute;
  top: 768px;
  width: 248px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 83px;
}
.buttons .button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(22, 18, 61, 0.12);
}
